@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css');

* {
    font-size: 16px;
    box-sizing: border-box;

    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    -webkit-font-smoothing: antialiased
}

body{
    margin : 0;
}

input, button, input:focus , button:focus {
    outline : none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media only screen and (min-width: 760px) {
    .contact-us-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 6.25rem
    }

    .contact-us-container .contact-header-wrap {
        width: 100%;
        padding-top: 3.5625rem;
        padding-left: 3.9375rem;
        display: flex;
        align-items: center
    }

    .contact-us-container .contact-header-wrap .logo-image {
        width: 3.5rem
    }

    .contact-us-container .contact-header-wrap .icon-false {
        display: none
    }

    .contact-us-container .contact-us-header {
        width: 43rem;
        margin-top: 6rem;
        display: flex;
        font-size: 1.5rem;
        line-height: 1.33;
        letter-spacing: normal;
        color: #223
    }

    .contact-us-container .contact-us-content {
        margin-top: 2rem;
        width: 43rem
    }

    .contact-us-container .contact-us-content .business-info-box {
        display: flex
    }

    .contact-us-container .contact-us-content .business-info-box .business-info-item {
        width: 100%
    }

    .contact-us-container .contact-us-content .business-info-box .business-info-item .label-text {
        font-size: 14px;
        line-height : 14px;
        color: #778;
        margin-bottom: .5rem
    }

    .contact-us-container .contact-us-content .business-info-box .business-info-item input {
        width: 100%;
        height: 3rem;
        padding: .5rem;
        border-radius: 4px;
        border: 1px solid #ededf2;
        background-color: #fff;

        font-size: 14px;
    }

    .contact-us-container .contact-us-content .business-info-box .business-info-item input:focus {
        outline : none;
        border: 1px solid #bbc
    }

    .contact-us-container .contact-us-content .business-info-box .business-info-item input::placeholder {
        color: #bbc;
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 2rem
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .label-text {
        font-size: 14px;
        line-height : 14px;
        color: #778;
        margin-bottom: .5rem
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap {
        cursor: pointer;
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        border: 1px solid #ededf2;
        padding: .5rem .75rem;
        margin-bottom: .25rem
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap.openOption {
        border: 1px solid #bbc
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap .select-text {
        font-size: 14px;
        color: #bbc
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap .select-text.selected {
        color: #223
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap .select-icon-wrap {
        width: 16px;
        height: 16px;
        display: flex;

        background: transparent url("../images/arrow_down.png") no-repeat left center;
        background-size: 12px 12px;
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap .select-icon-wrap az-icon {
        color: #bbc;
        font-size: .875rem
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .select-list-backdrop {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /*position: fixed;*/
        z-index: 101
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap {
        width: 100%;
        z-index: 102;
        background-color: #fff;
        position: absolute;
        left: 0;
        border: 1px solid #ededf2;
        border-radius: 4px
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap .select-button-wrap {
        display: flex;
        align-items: center;
        height: 2.5rem;
        border-radius: 2px;
        background-color: #fff;
        font-size: .875rem;
        color: #778;
        padding-left: .75rem;
        margin: .25rem
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap .select-button-wrap.checked {
        font-weight: 700;
        background-color: #f5f5fa;
        color: #445
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap .select-button-wrap .null-icon {
        width: 1.25rem;
        margin-right: .75rem
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap .select-button-wrap .icon-wrapper {
        background-color: #ededf2;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .75rem
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap .select-button-wrap .icon-wrapper az-icon {
        color: #bbc;
        font-size: 1.25rem
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap .select-button-wrap:hover {
        background-color: #f5f5fa;
        color: #223
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap .select-button-wrap:hover .icon-wrapper {
        background-color: #596fff
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap .select-button-wrap:hover .icon-wrapper az-icon {
        color: #fff;
        font-size: 1.25rem
    }

    .contact-us-container .contact-us-content .textarea-container {
        margin-top: 2rem;
        margin-bottom: 1.5rem
    }

    .contact-us-container .contact-us-content .textarea-container textarea {
        padding: 1rem;
        border: 1px solid #ededf2;
        border-radius: 4px;
        width: 100%;
        height: 15.625rem;
        font-size: .875rem;
        line-height : 0.875rem;
        resize: none;
        outline: 0;

        overflow:hidden;
    }

    .contact-us-container .contact-us-content .textarea-container textarea::-webkit-input-placeholder {
        color: #bbc;
        font-size: 14px;
    }

    .contact-us-container .contact-us-content .textarea-container textarea:-ms-input-placeholder {
        color: #bbc;
        font-size: 14px;
    }

    .contact-us-container .contact-us-content .textarea-container textarea::-ms-input-placeholder {
        color: #bbc;
        font-size: 14px;
    }

    .contact-us-container .contact-us-content .textarea-container textarea::placeholder {
        color: #bbc;
        font-size: 14px;
    }

    .contact-us-container .contact-us-content .textarea-container textarea:focus {
        border: 1px solid #bbc
    }

    .contact-us-container .contact-us-content .contact-container {
        color: #778;
        font-size: .875rem
    }

    .contact-us-container .contact-us-content .contact-container span {
        font-weight: 700
    }

    .contact-us-container .contact-us-content .btn-container {
        display: flex;
        justify-content: flex-end;
        font-size: .875rem
    }

    .contact-us-container .contact-us-content .btn-container button {
        cursor: pointer
    }

    .contact-us-container .contact-us-content .btn-container .close-btn {
        border-radius: .25rem;
        width: 5rem;
        height: 3rem;
        margin-right: .625rem;
        border: none;
        background-color: #fff;
        color: #778;
        font-size: .875rem
    }

    .contact-us-container .contact-us-content .btn-container .close-btn:hover {
        background-color: #f5f5fa
    }

    .contact-us-container .contact-us-content .btn-container .close-btn:active {
        background-color: #eeeef3
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn {
        cursor: pointer;
        border: none;
        width: 10.5rem;
        height: 3rem;
        padding: 0 .75rem;
        border-radius: 4px;
        /*background-image: linear-gradient(to bottom, #59b4ff, #0086ff)*/
        background-image: none;
        background-color: #f5f5fa;
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn span {
        color: #bbc;
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn .submit-button-arrow use {
        fill: #bbc;
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn.active {
        cursor: pointer;
        border: none;
        width: 10.5rem;
        height: 3rem;
        padding: 0 .75rem;
        border-radius: 4px;
        background-image: linear-gradient(to bottom, #59b4ff, #0086ff)
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn.active span {
        color: #fff;
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn.active .submit-button-arrow use {
        fill: #fff;
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn .submit-button-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 1rem
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn .submit-button-wrap .submit-button-arrow {
        background: transparent url("../images/arrow_right.png") no-repeat center center;
        background-size: 16px 16px;

        width: 16px;
        height: 16px;
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn.active:hover {
        background-image: linear-gradient(to bottom, #73ceff, #0187ff)
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn.active:active {
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .3);
        background-image: linear-gradient(to bottom, #58b4ff, #0078e5)
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn:disabled {
        background-image: none;
        background-color: #f5f5fa
    }

    .contact-us-container .contact-us-content .btn-container .submit-btn:disabled .submit-button-wrap, .contact-us-container .contact-us-content .btn-container .submit-btn:disabled .submit-button-wrap az-icon {
        color: #bbc
    }

    .contact-us-container .contact-us-content .btn-container .m-submit-btn {
        display: none
    }


    .dialog-backdrop{
        position : fixed;
        width : 100vw;
        height : 100vh;
        top : 0;
        left : 0;
        display :flex;
        justify-content: center;
        align-items: center;

        background : rgba(0,0,0,.5);
        z-index : 1000;
    }
    .dialog-container {
        padding: 25px 32px;
        width : 448px;
        height : 262px;
        background : white;

        position : relative;
        z-index : 1001;
    }

    .dialog-title {
        margin-bottom: 25px;
        color: #222233;
        font-size: 24px;
        line-height : 24px;
    }


    .dialog-content {
        margin-bottom: 75px;
        color: #222233;
        font-size: 16px;
        line-height: 1.5;

    }

    .dialog-button {
        float: right;
        border: none;
        border-radius: 4px;
        width: 88px;
        height: 40px;
        background-image: linear-gradient(to bottom, #59b4ff, #0086ff);
        color: #ffffff;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

    }

}

@media only screen and (max-width: 759px) {
    .contact-us-container {
        width: 100%;
        padding-bottom: 9.25925926vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column
    }

    .contact-us-container .contact-header-wrap {
        width: 100%;
        padding: 7.96296296vw;
        display: flex;
        align-items: center;
        justify-content: flex-end
    }

    .contact-us-container .contact-header-wrap .logo-image {
        display: none
    }

    .contact-us-container .contact-header-wrap .icon-false {
        cursor: pointer;
        color: #bbc;
        font-size: 9.25925926vw;
        width : 9.3vw;
        height : 9vw;
        background: transparent url("../images/cancel.png") no-repeat center center;
        background-size : 50% 50%;
    }

    .contact-us-container .contact-us-header {
        padding: 0 9.25925926vw;
        font-size: 5.92592593vw;
        line-height: 1.38;
        color: #223
    }

    .contact-us-container .contact-us-content {
        width: 100%;
        padding: 6.48148148vw 9.25925926vw
    }

    .contact-us-container .contact-us-content .business-info-box {
        display: flex;
        flex-direction: column
    }

    .contact-us-container .contact-us-content .business-info-box .business-info-item {
        width: 100%
    }

    .contact-us-container .contact-us-content .business-info-box .business-info-item .label-text {
        font-size: 4.07407407vw;
        line-height : 4.07407407vw;
        color: #778;
        margin-bottom: 2.96296296vw
    }

    .contact-us-container .contact-us-content .business-info-box .business-info-item input {
        width: 100%;
        height: 11.11111111vw;
        padding: 2.59259259vw 3.24074074vw;
        font-size: 4.07407407vw;
        border-radius: 4px;
        border: 1px solid #ededf2;
        background-color: #fff
    }

    .contact-us-container .contact-us-content .business-info-box .business-info-item input::placeholder {
        color : #bbc
    }
    .contact-us-container .contact-us-content .business-info-box .business-info-item input::-ms-input-placeholder {
        color : #bbc
    }

    .contact-us-container .contact-us-content .business-info-box .business-info-item input:focus {
        border: 1px solid #bbc
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option {
        margin-top: 5.18518519vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .label-text {
        font-size: 4.07407407vw;
        line-height : 4.07407407vw;
        color: #778;
        margin-bottom: 2.96296296vw
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap {
        cursor: pointer;
        width: 100%;
        height: 11.11111111vw;
        padding: 2.59259259vw 3.24074074vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        border: 1px solid #ededf2;
        margin-bottom: .37037037vw
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap.openOption {
        border: 1px solid #bbc
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap .select-text {
        font-size: 4.07407407vw;
        color: #bbc
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap .select-text.selected {
        color: #223
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap .select-icon-wrap {
        width: 4.07407407vw;
        height: 4.07407407vw;
        display: flex;

        background: transparent url("../images/arrow_down.png") no-repeat center center;
        background-size: 1rem 1rem;
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .option-wrap .select-icon-wrap az-icon {
        color: #bbc;
        font-size: 4.07407407vw
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .select-list-backdrop {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /*position: fixed;*/
        z-index: 101
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap {
        width: 100%;
        z-index: 102;
        background-color: #fff;
        position: absolute;
        left: 0;
        border: 1px solid #ededf2;
        border-radius: 4px
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap .select-button-wrap {
        display: flex;
        align-items: center;
        height: 9.62962963vw;
        border-radius: 2px;
        background-color: #fff;
        font-size: 4.07407407vw;
        color: #778;
        padding-left: 3.42592593vw;
        margin: .74074074vw
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap .select-button-wrap.checked {
        font-weight: 700;
        background-color: #f5f5fa;
        color: #445
    }

    .contact-us-container .contact-us-content .business-info-box .select-sub-option .select-pro-value-wrapper .custom-select-option-button-wrap .select-button-wrap:hover {
        background-color: #f5f5fa;
        color: #223
    }

    .contact-us-container .contact-us-content .textarea-container {
        margin-top: 5.18518519vw
    }

    .contact-us-container .contact-us-content .textarea-container textarea {
        border: 1px solid #ededf2;
        border-radius: 4px;
        padding: 3.33333333vw;
        width: 100%;
        height: 31.48148148vw;
        font-size: 3.88888889vw;
        line-height : 3.88888889vw;
        resize: none;
        outline: 0;

        overflow:hidden;
    }

    .contact-us-container .contact-us-content .textarea-container textarea::-webkit-input-placeholder {
        color: #bbc
    }

    .contact-us-container .contact-us-content .textarea-container textarea:-ms-input-placeholder {
        color: #bbc
    }

    .contact-us-container .contact-us-content .textarea-container textarea::-ms-input-placeholder {
        color: #bbc
    }

    .contact-us-container .contact-us-content .textarea-container textarea::placeholder {
        color: #bbc
    }

    .contact-us-container .contact-us-content .textarea-container textarea:focus {
        border: 1px solid #bbc
    }

    .contact-us-container .contact-us-content .btn-container {
        display: flex;
        justify-content: flex-end;
        font-size: 3.14814815vw
    }

    .contact-us-container .contact-us-content .btn-container button {
        cursor: pointer
    }

    .contact-us-container .contact-us-content .btn-container .close-btn, .contact-us-container .contact-us-content .btn-container .submit-btn {
        display: none
    }

    .contact-us-container .contact-us-content .btn-container .m-submit-btn.active {
        margin-top: 7.40740741vw;
        border: none;
        border-radius: 2px;
        width: 100%;
        height: 14.81481481vw;
        color: #fff;
        background-image: linear-gradient(to bottom, #59b4ff, #0086ff);

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 3.88888889vw
    }

    .contact-us-container .contact-us-content .btn-container .m-submit-btn {
        color: #bbc;
        cursor: auto;
        margin-top: 7.40740741vw;

        background-color: #f5f5fa;
        background-image: none;

        border: none;
        border-radius: 2px;
        width: 100%;
        height: 14.81481481vw;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 3.88888889vw
    }

    .contact-us-container .contact-us-content .btn-container .m-submit-btn:disabled:hover {
        background-color: #f5f5fa;
        background-image: none
    }

    .contact-us-container .contact-us-content .btn-container .m-submit-btn:hover {
        background-image: linear-gradient(to bottom, #73ceff, #0187ff)
    }

    .contact-us-container .contact-us-content .btn-container .m-submit-btn:active {
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .3);
        background-image: linear-gradient(to bottom, #58b4ff, #0078e5)
    }

    .dialog-backdrop{
        position : fixed;
        width : 100vw;
        height : 100vh;
        top : 0;
        left : 0;
        display :flex;
        justify-content: center;
        align-items: center;

        background : rgba(0,0,0,.5);
        z-index : 1000;
    }
    .dialog-container {
        padding: 1.5625rem 2rem;
        width : 100%;
        height : 286px;
        background : white;

        position : relative;
        z-index : 1001;
    }

    .dialog-title {
        margin-bottom: 1.5625rem;
        color: #222233;
        font-size: 1.5rem;
        line-height : 1.5rem;
    }


    .dialog-content {
        margin-bottom: 4.6875rem;
        color: #222233;
        font-size: 1rem;
        line-height: 1.5;

        word-break: keep-all;
    }

    .dialog-button {
        float: right;
        border: none;
        border-radius: 4px;
        width: 5.5rem;
        height: 2.5rem;
        background-image: linear-gradient(to bottom, #59b4ff, #0086ff);
        color: #ffffff;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

    }
}