@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css');

* {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    -webkit-font-smoothing: antialiased
}

@media only screen and (min-width: 700px) {
    input.mobile {
        display: none;
    }

    input.pc {
        display: inline;
    }

    .header {
        position: fixed;
        top: 0;
        background: white;
        z-index: 1000;

        width: 100vw;
        height: 56px;
        border-bottom: 1px solid #ededf2;

        padding: 0 60px;

        display: flex;
        align-items: center;

    }

    .header > .inner-header {
        /*max-width: 1168px;*/
        max-width : 1320px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .header .bigin-logo {
        height: 30px;
        width: 180px;
        background: transparent url('../images/logo_support.png') no-repeat center center;
        background-size: contain;
        margin-right: auto;
    }

    .header .header-nav {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        text-align: center;
        color: #777788;
        cursor: pointer;
    }

    .header .header-nav:hover {
        color: #556;
    }

    .header .header-nav.home {
        height: 36px;
        margin-right: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .header-nav.dashboard {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 136px;
        height: 36px;
        border-radius: 2px;
        border: solid 1px #bbbbcc;
    }

    .header .header-nav.dashboard:hover{
        border: solid 1px #555566;
    }

    .content {
        padding: 0 60px;
    }

    .search-container {
        max-width: 800px;
        height: 420px;
        margin: auto;

        background: transparent url('../images/main.png') no-repeat center center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 72px;

    }

    .search-container > .search-title {
        font-size: 40px;
        font-weight: bold;
        line-height: 1.4;
        text-align: center;
        color: #222233;
    }

    .search-container > .input-wrapper {
        margin: 32px auto 0 auto;
        max-width: 624px;
        width: 100%;
        height: 56px;
        border-radius: 4px;
        border: solid 1px #ededf2;
        background-color: #ffffff;
        padding: 15px;

        display: flex;
        align-items: center;

        position: relative;
    }

    .search-container > .input-wrapper > .search-icon {
        width: 15px;
        height: 15px;
        background: transparent url("../images/search.png") no-repeat center center;
        background-size: contain;
        margin-right: 8px;
    }

    .search-container > .input-wrapper > input {
        outline: none !important;
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: #334;
        width: 100%;
    }

    .search-container > .input-wrapper > input::placeholder {
        color: #bbbbcc;
    }

    .search-container .search-list {
        padding: 16px 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        width: 624px;
        /*height: 56px;*/
        background-color: #ffffff;

        position: absolute;
        top: 56px;
        left: 0;
        right: 0;

    }

    .search-container .search-list > .search-item {
        height: 32px;
        border-radius: 4px;
        padding: 0 12px;
        background-color: #ffffff;

        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: #334;

        display: flex;
        align-items: center;
    }

    .search-container .search-list > .search-item:hover {
        background-color: #f5f5fa;
        cursor: pointer;
    }

    .search-container .search-list > .search-item.no {
        height: 32px;
        border-radius: 4px;
        padding: 0 12px;
        background-color: #ffffff;

        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: #bbbbcc;

        display: flex;
        align-items: center;
    }

    .nav-container {
        width: 476px;
        height: 272px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
    }

    .nav-container > .nav {
        width: 80px;
        height: 112px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 40px;
    }

    .nav-container > .nav > .nav-icon {
        width: 80px;
        height: 80px;
        /*background: transparent url('../images/installation.png') no-repeat center center;*/
        /*background-size: contain;*/
        /*background-size : 25px 20px;*/
        border-radius : 38px;
    }

    .nav-container > .nav-1 > .nav-icon {
        background:  #222233 url('../images/category_start.png') no-repeat center center;
        background-size : 35px 35px;

    }
    .nav-container > .nav-2 > .nav-icon {
        background: #222233  url('../images/category_insight.png') no-repeat center center;
        background-size : 35px 35px;
    }
    .nav-container > .nav-3 > .nav-icon {
        background: #222233  url('../images/category_user.png') no-repeat center center;
        background-size : 35px 35px;
    }
    .nav-container > .nav-4 > .nav-icon {
        background: #222233  url('../images/category_live.png') no-repeat center center;
        background-size : 35px 35px;
    }
    .nav-container > .nav-5 > .nav-icon {
        background: #222233  url('../images/category_management.png') no-repeat center center;
        background-size : 35px 35px;
    }
    .nav-container > .nav-6 > .nav-icon {
        background: #222233  url('../images/category_system.png') no-repeat center center;
        background-size : 35px 35px;
    }

    .nav-container > .nav > .nav-icon:hover {
        width: 84px;
        height: 84px;
        border-radius : 40px;
        background-color : #333344;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .nav-container > .nav > .nav-text {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        text-align: center;
        color: #222233;
        white-space: nowrap;
    }

    .faq-container {
        max-width: 1000px;
        margin: 120px auto 80px auto;

    }

    .faq-container > .faq-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.33;
        color: #222233;
    }

    .faq-container > .faq-inner-container {
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .faq-container > .faq-inner-container > .faq {
        width: 45%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        display: inline-block;
        vertical-align: top;
        padding-top: 16px;
        height: 52px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: #222233;

        border-bottom: 1px solid #ededf2;
    }

    .question-section {
        height: 226px;
        background-color: #f5f5fa;
        width: 100vw;
        padding: 66px 0 66px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .question-section > .question {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        text-align: center;
        color: #778;
    }

    .question-section > .question-button {
        cursor: pointer;

        width: 140px;
        height: 48px;
        border-radius: 4px;
        border: solid 0.5px #ffffff;
        background-color: #4e65ff;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 14px;
        font-weight: normal;
        line-height: 1.14;
        text-align: center;
        color: #ffffff;
    }

    .footer {
        /*position: fixed;*/
        /*bottom: 0;*/
        width: 100vw;
        background-color: #141425;
        height: 58px;
        display: flex;
        align-items: center;
        padding: 0 40px;

    }

    .footer > .footer-nav {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #bbbbcc;
        margin-right: 28px;

        cursor: pointer;
    }

    .footer > .footer-copyright {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #888899;
        margin-left: auto;
    }
}

@media only screen and (max-width: 699px) {
    input.mobile {
        display: inline;
    }

    input.pc {
        display: none;
    }

    .header {

        width: 100vw;
        height: 68px;
        border-bottom: 1px solid #ededf2;

        /*padding: 0 60px;*/
        padding : 0 24px;

        display: flex;
        align-items: center;
    }

    .header > .inner-header {
        max-width: 1168px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .header .bigin-logo {
        height: 39px;
        width: 150px;
        background: transparent url('../images/logo_support.png') no-repeat center center;
        background-size: contain;
        margin-right: auto;
    }

    .header .header-nav {
        /*font-size: 14px;*/
        /*font-weight: normal;*/
        /*line-height: 1.43;*/
        /*text-align: center;*/
        /*color: #777788;*/
        display: none;
    }

    .header .header-nav.home {
        /*height: 36px;*/
        /*margin-right : 32px;*/
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
    }

    .header .header-nav.dashboard {
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        /*width: 136px;*/
        /*height: 36px;*/
        /*border-radius: 2px;*/
        /*border: solid 1px #bbbbcc;*/
    }

    .content {
        /*padding: 0 60px;*/
        padding: 0 24px;
    }

    .search-container {
        max-width: 800px;
        height: 360px;
        margin: auto;

        background: transparent url('../images/main.png') no-repeat center center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 72px;

    }

    .search-container > .search-title {
        /*font-size: 40px;*/
        /*font-weight: bold;*/
        /*line-height: 1.4;*/
        /*text-align: center;*/
        /*color: #222233;*/

        font-size: 24px;
        font-weight: bold;
        line-height: 2.33;
        text-align: center;
        color: #222233;
    }

    .search-container > .input-wrapper {
        margin: 19px auto 0 auto;
        max-width: 624px;
        /*width : 100%;*/
        height: 56px;
        border-radius: 4px;
        border: solid 1px #ededf2;
        background-color: #ffffff;
        padding: 15px;

        /*max-width : 327px;*/
        width: 100%;

        display: flex;
        align-items: center;

        position: relative;
    }

    .search-container > .input-wrapper > .search-icon {
        width: 15px;
        height: 15px;
        background: transparent url("../images/search.png") no-repeat center center;
        background-size: contain;
        margin-right: 8px;
    }

    .search-container > .input-wrapper > input {
        outline: none !important;
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: #222233;
        width: 100%;
    }

    .search-container > .input-wrapper > input::placeholder {
        color: #bbbbcc;
    }

    .search-container .search-list {

        position: fixed;
        width: 100vw;
        height: 100vh;
        background: white;

        /*padding : 16px 4px;*/
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);*/
        /*margin :  0 auto;*/
        /*width: 624px;*/
        /*!*height: 56px;*!*/
        /*background-color: #ffffff;*/

        /*position : absolute;*/
        /*top: 56px;*/
        /*left : 0;*/
        /*right : 0;*/

    }

    .search-container .search-list > .search-item {
        height: 32px;
        border-radius: 4px;
        padding: 0 12px;
        background-color: #ffffff;

        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: #222233;

        display: flex;
        align-items: center;
    }

    .search-container .search-list > .search-item:hover {
        background-color: #f5f5fa;
        cursor: pointer;
    }

    .search-container .search-list > .search-item.no {
        height: 32px;
        border-radius: 4px;
        padding: 0 12px;
        background-color: #ffffff;

        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: #bbbbcc;

        display: flex;
        align-items: center;
    }

    .nav-container {

        max-width: 476px;
        width: 100%;
        /*height : 272px;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
    }

    .nav-container > .nav {
        width: 80px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /*margin-right : 40px;*/
        margin: 0 20px 32px 20px;
    }

    .nav-container > .nav-1 > .nav-icon {
        background:  #222233 url('../images/category_start.png') no-repeat center center;
        background-size : 30px 30px;

    }
    .nav-container > .nav-2 > .nav-icon {
        background: #222233  url('../images/category_insight.png') no-repeat center center;
        background-size : 30px 30px;
    }
    .nav-container > .nav-3 > .nav-icon {
        background: #222233  url('../images/category_user.png') no-repeat center center;
        background-size : 30px 30px;
    }
    .nav-container > .nav-4 > .nav-icon {
        background: #222233  url('../images/category_live.png') no-repeat center center;
        background-size : 30px 30px;
    }
    .nav-container > .nav-5 > .nav-icon {
        background: #222233  url('../images/category_management.png') no-repeat center center;
        background-size : 30px 30px;
    }
    .nav-container > .nav-6 > .nav-icon {
        background: #222233  url('../images/category_system.png') no-repeat center center;
        background-size : 30px 30px;
    }


    .nav-container > .nav > .nav-icon {
        width: 64px;
        height: 64px;
        border-radius: 30px;
        /*background: transparent url('../images/installation.png') no-repeat center center;*/
        /*background-size: contain;*/
    }

    .nav-container > .nav > .nav-text {
        margin-top: 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        text-align: center;
        color: #222233;
        white-space: nowrap;
    }




    .faq-container {
        max-width: 1000px;
        margin: 120px auto 80px auto;

    }

    .faq-container > .faq-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.33;
        color: #222233;
    }

    .faq-container > .faq-inner-container {
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .faq-container > .faq-inner-container > .faq {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        display: inline-block;
        vertical-align: top;
        padding-top: 16px;
        height: 52px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: #222233;

        border-bottom: 1px solid #ededf2;
    }

    .question-section {
        height: 233px;
        background-color: #f5f5fa;
        width: 100vw;
        padding: 40px 0 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .question-section > .question {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        text-align: center;
        color: #778;

        width: 190px;
    }

    .question-section > .question-button {
        cursor: pointer;

        width: 140px;
        height: 48px;
        border-radius: 4px;
        border: solid 0.5px #ffffff;
        background-color: #4e65ff;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 14px;
        font-weight: normal;
        line-height: 1.14;
        text-align: center;
        color: #ffffff;
    }

    .footer {
        /*position: fixed;*/
        /*bottom: 0;*/
        width: 100vw;
        background-color: #141425;
        height: 99px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        padding: 26px 40px;

    }

    .footer > .footer-nav {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #bbbbcc;
        margin-right: 28px;

        cursor: pointer;
    }

    .footer > .footer-copyright {
        width: 271px;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #888899;
        /*margin-left : auto;*/
    }
}

/*.header {*/

/*width : 100vw;*/
/*height: 56px;*/
/*border-bottom: 1px solid #ededf2;*/

/*padding : 0 60px;*/

/*display: flex;*/
/*align-items: center;*/
/*}*/

/*.header>.inner-header{*/
/*max-width : 1168px;*/
/*width : 100%;*/
/*margin: 0 auto;*/
/*height : 100%;*/
/*display: flex;*/
/*align-items: center;*/
/*}*/

/*.header .bigin-logo{*/
/*height : 30px;*/
/*width : 180px;*/
/*background: red;*/
/*margin-right : auto;*/
/*}*/
/*.header .header-nav{*/
/*font-size: 14px;*/
/*font-weight: normal;*/
/*line-height: 1.43;*/
/*text-align: center;*/
/*color: #777788;*/
/*}*/
/*.header .header-nav.home{*/
/*height: 36px;*/
/*margin-right : 32px;*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/
/*}*/
/*.header .header-nav.dashboard{*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/
/*width: 136px;*/
/*height: 36px;*/
/*border-radius: 2px;*/
/*border: solid 1px #bbbbcc;*/
/*}*/

/*.content{*/
/*padding: 0 60px;*/
/*}*/

/*.search-container{*/
/*max-width: 800px;*/
/*height : 376px;*/
/*margin : auto;*/

/*display: flex;*/
/*flex-direction: column;*/
/*justify-content: flex-end;*/
/*padding-bottom:72px;*/

/*}*/
/*.search-container>.search-title{*/
/*font-size: 40px;*/
/*font-weight: bold;*/
/*line-height: 1.4;*/
/*text-align: center;*/
/*color: #222233;*/
/*}*/

/*.search-container>.input-wrapper{*/
/*margin : 32px auto 0 auto;*/
/*max-width: 624px;*/
/*width : 100%;*/
/*height: 56px;*/
/*border-radius: 4px;*/
/*border: solid 1px #ededf2;*/
/*background-color: #ffffff;*/
/*padding:15px;*/

/*display: flex;*/
/*align-items: center;*/

/*position : relative;*/
/*}*/
/*.search-container>.input-wrapper>.search-icon{*/
/*width : 15px;*/
/*height : 15px;*/
/*background: transparent url("../images/search.png") no-repeat center center;*/
/*background-size : contain;*/
/*margin-right : 8px;*/
/*}*/
/*.search-container>.input-wrapper>input{*/
/*outline: none !important;*/
/*border:0 !important;*/
/*margin:0 !important;*/
/*padding:0 !important;*/
/*font-size: 14px;*/
/*font-weight: normal;*/
/*line-height: 1.43;*/
/*color: #222233;*/
/*width : 100%;*/
/*}*/

/*.search-container>.input-wrapper>input::placeholder{*/
/*color: #bbbbcc;*/
/*}*/

/*.search-container .search-list{*/
/*padding : 16px 4px;*/
/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);*/
/*margin :  0 auto;*/
/*width: 624px;*/
/*!*height: 56px;*!*/
/*background-color: #ffffff;*/

/*position : absolute;*/
/*top: 56px;*/
/*left : 0;*/
/*right : 0;*/

/*}*/

/*.search-container .search-list>.search-item{*/
/*height: 32px;*/
/*border-radius: 4px;*/
/*padding : 0 12px;*/
/*background-color: #ffffff;*/

/*font-size: 14px;*/
/*font-weight: normal;*/
/*line-height: 1.43;*/
/*color: #222233;*/

/*display: flex;*/
/*align-items: center;*/
/*}*/

/*.search-container .search-list>.search-item:hover{*/
/*background-color: #f5f5fa;*/
/*cursor: pointer;*/
/*}*/

/*.search-container .search-list>.search-item.no{*/
/*height: 32px;*/
/*border-radius: 4px;*/
/*padding : 0 12px;*/
/*background-color: #ffffff;*/

/*font-size: 14px;*/
/*font-weight: normal;*/
/*line-height: 1.43;*/
/*color: #bbbbcc;*/

/*display: flex;*/
/*align-items: center;*/
/*}*/
/*.nav-container{*/
/*width : 476px;*/
/*height : 272px;*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*justify-content: space-between;*/
/*margin: auto;*/
/*}*/
/*.nav-container>.nav{*/
/*width : 80px;*/
/*height : 112px;*/
/*display: flex;*/
/*flex-direction: column;*/
/*justify-content: space-between;*/
/*align-items: center;*/
/*margin-right : 40px;*/
/*}*/
/*.nav-container>.nav>.nav-icon{*/
/*width: 80px;*/
/*height : 80px;*/
/*background: red;*/
/*}*/
/*.nav-container>.nav>.nav-text{*/
/*font-size: 14px;*/
/*font-weight: normal;*/
/*line-height: 1.43;*/
/*text-align: center;*/
/*color: #222233;*/
/*white-space: nowrap;*/
/*}*/

/*.faq-container{*/
/*max-width : 1000px;*/
/*margin : 120px auto 80px auto;*/

/*}*/

/*.faq-container>.faq-title{*/
/*font-size: 24px;*/
/*font-weight: bold;*/
/*line-height: 1.33;*/
/*color: #222233;*/
/*}*/

/*.faq-container>.faq-inner-container{*/
/*max-width : 1000px;*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*justify-content: space-between;*/

/*}*/

/*.faq-container>.faq-inner-container>.faq{*/
/*width : 45%;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/

/*display: inline-block;*/
/*vertical-align: top;*/
/*padding-top: 16px;*/
/*height : 52px;*/
/*font-size: 14px;*/
/*font-weight: normal;*/
/*line-height: 1.43;*/
/*color: #222233;*/

/*border-bottom : 1px solid #ededf2;*/
/*}*/

/*.question-section{*/
/*height : 280px;*/
/*background-color: #f5f5fa;*/
/*width : 100vw;*/
/*padding: 66px 0 120px 0;*/
/*display: flex;*/
/*flex-direction : column;*/
/*justify-content: space-between;*/
/*align-items: center;*/
/*}*/
/*.question-section>.question{*/
/*font-size: 14px;*/
/*font-weight: normal;*/
/*line-height: 1.71;*/
/*text-align: center;*/
/*color: #222233;*/
/*}*/
/*.question-section>.question-button{*/
/*width: 140px;*/
/*height: 48px;*/
/*border-radius: 4px;*/
/*border: solid 0.5px #ffffff;*/
/*background-color: #4e65ff;*/

/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/

/*font-size: 14px;*/
/*font-weight: normal;*/
/*line-height: 1.14;*/
/*text-align: center;*/
/*color: #ffffff;*/
/*}*/

/*.footer {*/
/*position : fixed;*/
/*bottom : 0;*/
/*width : 100vw;*/
/*background-color: #141425;*/
/*height : 58px;*/
/*display: flex;*/
/*align-items: center;*/
/*padding : 0 40px;*/

/*}*/

/*.footer > .footer-nav {*/
/*font-size: 12px;*/
/*font-weight: bold;*/
/*text-align: center;*/
/*color: #bbbbcc;*/
/*margin-right : 28px;*/
/*}*/

/*.footer > .footer-copyright {*/
/*font-size: 12px;*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*font-stretch: normal;*/
/*line-height: normal;*/
/*letter-spacing: normal;*/
/*text-align: center;*/
/*color: #888899;*/
/*margin-left : auto;*/
/*}*/