@keyframes spinner-line-fade-more {
     0%, 100% {
         opacity: 0; /* minimum opacity */
     }
     1% {
         opacity: 1;
     }
 }

@keyframes spinner-line-fade-quick {
    /*0%, 39%, 100% {*/
        /*opacity: 0.25; !* minimum opacity *!*/
    /*}*/
    /*40% {*/
        /*opacity: 1;*/
    /*}*/

    /*0%, 100% {*/
        /*!*opacity: 0.22; !* minimum opacity *!*!*/
        /*background: black;*/
        /*opacity: 1;*/
    /*}*/
    /*25% {*/
        /*!*opacity: 1;*!*/
        /*background: white;*/
        /*opacity: 1;*/
    /*}*/

    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }

}

@keyframes spinner-line-fade-default {
    0%, 100% {
        /*opacity: 0.22; !* minimum opacity *!*/
        background: black;
    }
    25% {
        /*opacity: 1;*/
        background: white;
    }
}

